
h1
{
    text-align: left;
    line-height: 2.5rem;
}

h2
{
    text-align: center;
    margin-top: 3rem;
}

main section
{
    border: solid;
    border-radius: 1rem;
    margin: 0rem 1rem 4rem 1rem;
    padding: 1rem;
}