
html {margin:-1rem 0rem 0rem 0rem; background-color:  rgb(220, 229, 235); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
header {background-color: rgb(59, 119, 168); width: 100%; position: fixed; margin: 0rem -1rem 0rem -1rem; padding: 1.5rem 2rem 1rem 2rem;}
main {margin: 0rem -0.5rem 0rem -0.5rem; padding-top: 10rem; justify-items: center;}
header nav {display: grid; grid-template-areas:
"navBar navBar navBar navBar médiaBar médiaBar médiaBar médiaBar médiaBar userProfil userProfil userProfil";
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-row: 1fr; width: 100%; position: relative; justify-content: space-between; gap: 1.5rem;}

.navBar {grid-area: navBar; width: 100%; position: relative;
display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: stretch; align-items: center; gap: 1.5rem;}
.mainMenu-layout {display: flex; flex-direction: row ; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 1.5rem;}

.mediaBar {grid-area: médiaBar; width: 100%;}
.pictoBar {margin-top: 0.7rem; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: center;}
.pictoBar img {max-width: 70%; transition-duration: 0.5s ;}
.pictoBar img:hover{max-width: 55%; transform: rotateX(30deg);}

.userProfil {grid-area: userProfil; width: 94%; position: relative;
display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center;}

.logo {max-width: 8rem; transition-duration: 1s;}
.logo:hover {animation-duration: 2s; animation-name: logRotate;}
@keyframes logRotate
{
    0% {transform:rotateZ(0deg);} 10% {transform:rotateZ(20deg);} 30% {transform:rotateZ(45deg);} 45% {transform:rotateZ(-80deg);}
    60% {transform:rotateZ(20deg);} 70% {transform:rotateZ(-20deg);} 80% {transform:rotateZ(10deg);} 90% {transform:rotateZ(-10deg);}
    95% {transform:rotateZ(-5deg);} 96% {transform:rotateZ(-4deg);} 97% {transform:rotateZ(-3deg);} 98% {transform:rotateZ(-2deg);}
    99% {transform:rotateZ(-1deg);} 100% {transform:rotateZ(0deg);}
}


.headerButton {background-color:  rgb(59, 119, 168); width: 6rem; color:rgb(241, 234, 234); font-size: 1.1rem; font-weight: 100;
text-align: center; border-radius: 0.75rem; border:none; transition-duration: 1s; transition-property: scale duration background-color;}
.headerButton:hover {background-color:  rgb(59, 119, 168); color:rgb(253, 253, 253); transform: scale(1.1);}

.mainMenu {line-height: 2rem; font-size: 1.2rem; transition-duration: 1s; transition-property: scale duration background-color;}
.mainMenu:hover {background-color:  rgb(59, 119, 168); color:rgb(253, 253, 253); transform: scale(1.1);}
.mainMenuLinkFormat {color: rgb(248, 244, 244); text-decoration: none;}

.titleStyle {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0.001rem; word-spacing: 0.001rem;}
h1 {margin-top: 0.5rem; font-size: 1.1rem; font-weight: 650; text-align: start; color:  rgb(6, 65, 110);}
h2 {font-size: 1rem; font-weight: 650;}
h3 {font-size: 0.9rem; font-weight: 600; color: rgb(16, 41, 112); text-align: center; margin-bottom: 0.5rem;}
h4 {margin-top: 0rem; font-size: 0.85rem; font-weight:500; color: rgb(38, 7, 88);}
.containerH4 {height: 1rem;}

.cvContent{max-width: 100%;}

.cvGrid {display: grid; grid-template-areas: 
"identity identity identity identity identity identity identity identity identity identity identity identity"
"div1 div1 div2 div2 div2 div2 div2 div2 div2 div2 div3 div3"
"values values values values values values values values values values values values"
"div4 div4 div4 div4 div4 div4 div5 div5 div5 div5 div5 div5";
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 0.25fr 0fr 1fr 0fr; max-width: 100%; margin: -1rem 0rem 0rem 0rem; padding: 2rem 2rem 2rem 2rem; gap: 2rem; }

.cvIdentity {max-width: 100%; margin: 0rem 0rem 0rem 0rem; grid-area: identity; 
display: flex; flex-direction: row; flex-wrap: wrap-reverse; justify-content: space-between; align-items: start; gap: 2rem;}

.cvIdentityContainers{background-color:  rgb(214, 224, 231);min-height: 9rem; border: solid; border-radius: 1rem; }
.cvValues {grid-area: values; max-width: 100%; margin: -2rem 0rem 0rem 0rem;
display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center; gap: 2rem;}

.div1 {grid-area: div1; width: 12rem;}
.div2 {grid-area: div2; max-width: 40rem; min-height: 9rem; padding: 0rem 1rem 0rem 1rem ;}
.div3{width: 12rem; height: 9rem; grid-area: div3;justify-items:center ; align-items: center;}
.div4{grid-area: div4; width: 43vw;}
.div5{grid-area: div5; width: 43vw;}

.titreCandidat{text-align: start; margin-top: 0.5rem; padding-left: 1.5rem; color:  rgb(6, 65, 110); }
.dataCandidat {margin-top: 0rem; justify-self: center;}
.dataCandidat p {margin-top: -0.5rem;}

.cvTitle + p{text-align: justify; margin-top: -0.5rem;}
.div2 p span{font-size: 0.95rem;}

.photoCvContainer{height: 9rem;}
.photoCv{width: 5.5rem; margin-top: -0.5rem;} 

.cvFormationExperienceGrid {display: grid ; grid-template-areas:
"cvLanguageContainer cvLanguageContainer cvLanguageContainer cvLanguageContainer cvLanguageContainer cvLanguageContainer"
"literaryLanguages literaryLanguages code code frameworks frameworks"
"cvFormationContainer cvFormationContainer cvFormationContainer cvFormationContainer cvFormationContainer cvFormationContainer"
"selfTaught selfTaught university university  technical technical"
"cvExperienceContainer cvExperienceContainer cvExperienceContainer cvExperienceContainer cvExperienceContainer cvExperienceContainer"
"computerScience computerScience artProduction artProduction sport sport"
;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 16% 16% 16% 16% 16% 16%;
width: 1fr;
}

.cvThemeContainer
{
background-color: rgb(217, 226, 233);
min-width: 18rem; max-width: 100%;
border: solid; border-radius: 1rem;
padding-bottom: 0.75rem;
}
.cvRubriqueContainer
{
width: 100%;
}
.cvRubriqueDiv 
{background-color:  rgb(190, 203, 214); 
width: 100%; padding: 0rem 0rem 0rem 0rem; 
display: flex; flex-direction: row; justify-content: space-between; align-items: start;
}
.cvRubriqueContent {width: 100%; padding: 0.5rem 0.5rem 0rem 0.5rem;}
.cvDataContent {margin-top: -1rem; color:  rgb(7, 88, 78);}

.cvLanguageContainer{grid-area: cvLanguageContainer;}
.literaryLanguages {grid-area: literaryLanguages;}
.code {grid-area: code;}
.frameworks{grid-area: frameworks;}

.cvFormationContainer {grid-area: cvFormationContainer;}
.selfTaught{grid-area: selfTaught;}
.university{grid-area: university;}
.technical{grid-area: technical;}

.cvExperienceContainer{grid-area: cvExperienceContainer;}
.computerScience{grid-area: computerScience;}
.artProduction{grid-area: artProduction;}
.sport{grid-area: sport;}

.cvConnaissancesGrid {display: grid ; grid-template-areas:
"cvSkillsContainer cvSkillsContainer cvSkillsContainer cvSkillsContainer cvSkillsContainer cvSkillsContainer"
"production production deploiement deploiement administration administration"
"cvKnowledgeContainer cvKnowledgeContainer cvKnowledgeContainer cvKnowledgeContainer cvKnowledgeContainer cvKnowledgeContainer"
"savoirs1 savoirs1 savoirs2 savoirs2 savoirs3 savoirs3"
"cvBehaviourContainer cvBehaviourContainer cvBehaviourContainer cvBehaviourContainer cvBehaviourContainer cvBehaviourContainer"
"time time work work group group" 
;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
grid-template-rows: auto;
width: 1fr;
}

.cvSkillsContainer{grid-area: cvSkillsContainer;}
.production{grid-area: production;}
.deploiement{grid-area: deploiement;}
.administration{grid-area: administration;}

.cvKnowledgeContainer{grid-area: cvKnowledgeContainer;}
.savoirs1{grid-area:  savoirs1;}
.savoirs2{grid-area: savoirs2;}
.savoirs3{grid-area: savoirs3;}

.cvBehaviourContainer{grid-area: cvBehaviourContainer;}
.time{grid-area: FaceToTime;}
.work{grid-area: FaceToWork;}
.group{grid-area: FaceToGroups;}

