html    {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        margin: 0; padding: 0 ; 
        background-color: rgba(207, 228, 227,0.5); color: rgba(30, 30, 30, 1);
        text-decoration: none;
        }
  
header {
        background-color: rgba(20, 20, 20, 0.95);  
        color: rgba(241, 177, 79, 1) ;
        }
.logo-entete
        {
        max-height: 4rem;
        }
footer {
        background-color: rgba(15, 15, 15, 0.95);  
        color: rgb(213, 208, 200) ;
        }
h1, h2, h5  {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }  
h1      {
        font-size: 1.8rem;
        }   
h3      {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-weight:900;
        }
h4      {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        font-style: italic;
        font-weight:900;
        }
 
