


header:first-child
{
        width: 100vw;
       /* display: flex; flex-direction: row; justify-content: start; align-items: center;
        gap: 0rem;*/
}


.logoSearchBar
{
       
       margin: 0rem; padding: 0rem;
       justify-self:  center; text-align: center;
}
.logo-entete
{
        position: relative; top: 0vw; left: -9rem;

}

header section
{
        width: 70vw;
        margin: 0rem 0rem 3rem -5rem;
        
       
}
header form 
{
        width: 70vw;
        display: flex; flex-direction: row; flex-wrap: nowrap; 
        justify-content: center; align-items: center; gap: 1rem;
}

header form input , header form label 
{
        color: rgb(255, 254, 254);
        transition: 1s;
}
header form input
{
        background-color: rgba(60, 50, 50, 0.95);
        width: 9rem;
        height: 1.6rem;
        border: solid;
        border-width: thin;
        border-radius: 0.5rem;
        text-align: center;
        color: rgb(238, 234, 227) ;
}

header form input:hover
{
        scale: 1.2;
}

header form label:hover 
{
        scale: 2;

}

header form input::placeholder
        {
        color: rgb(188, 184, 178) ;
        }

header form img
        {
        vertical-align: text-bottom;
        }

header nav
{
        width: 85vw;/*
        display: flex; flex-direction: row; justify-content: space-between; align-items: center;
        flex-wrap: wrap;
        gap: 1rem;*/
}

.shopDiv
{
        margin-bottom: 3rem;
        margin-left: 0rem; padding-left: 0rem;
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: space-between; align-items: center;
}

.shopAcess 
{
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: space-between; align-items: center; 
        gap: 2rem; 
}

.shopAcess div
{       width: 86.25vw;
        display: flex; flex-direction: row; flex-wrap: nowrap;
        justify-content: space-between; align-items: center;
        gap: 2rem; 
}

header ul
{
        margin-left: 0rem; padding-left: 0rem;
        display: flex; flex-direction: row; justify-content: space-between; 
        align-items: center; gap: 1rem;
}
    
header li :hover
        {
        text-decoration: underline;    
        }

/*
header li :active
        {
        color: darkgoldenrod;    
        }
*/

header select
{
        min-width: 10rem;
        border-radius: 0.25rem;
        padding-left: 0.1rem;
}

header a
        {
        color: rgb(226, 236, 238) ;
        text-decoration: none;
        transition: 1s;
        }


main a 
        {
        color: rgb(100, 83, 56) ;
        text-decoration: none;
        }

main ol li:hover
        {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;    
        }
main ol li>:hover
        {
        font-size: initial;  
        }
main ol li>a:hover
        {
        font-size: x-large; 
        color: rgb(172, 26, 133);
        }

main input
        {
        border-radius: 0.25rem;
        height: 1.5rem;
        margin: 0rem 0rem 1rem 0rem
        }
main input:hover
        {
        background-color:rgba(139, 136, 84, 0.2) ;   
        }
main input:focus
        {
        border-style: outset;
        border-width: 0.2rem;
        background-color:rgba(219, 214, 114, 0.2) ;
        }

.visitMySite {margin: 0rem 0rem 0rem 0rem;}
.cvNnetworkLink {padding: 2rem 0rem 3rem 0rem; margin-bottom: 4rem; border-bottom: solid;}
.cvNnetworkLink2{margin: 0rem 2rem 0rem 2rem ;}
.titleVisit {font-size: 150%; color: rgb(122, 59, 59);}
.titleVisit ~ p {font-size: 140%;}
.backToTopButton {margin-top: 4rem; margin-left: 1rem; display: flex; flex-direction: column-reverse; align-items: center;}
.smallArrows {width: 3rem; vertical-align:bottom ;}




.classical-layout
{
        background-color: rgba(199, 163, 165, 0.5); 
        border: solid, rgba(30, 30, 30, 1);
        border-radius: 1rem;
        padding: 0rem 0rem 0rem 0rem;
        margin: 4rem 0rem 1rem 0rem;
        justify-items: center;
        font-size: 1.2rem;
        text-align: center;
}



.classical-layout div img
{
        margin :auto
}

.classical-layout section article
{
        background-color: rgba(115, 173, 171, 0.5); 
        border: solid ;
        border-width: thin ;
        border-radius: 1rem;
        margin: 2rem 0rem 6rem 0rem;
        width: 22rem;
        height: 42rem;
        text-align: center;
        justify-items: center;
}

.videoCard
{
        
        position: relative;
        margin-top: 1.5rem;
}

.textSynopsis
{
        color: rgb(53, 13, 13);
}

.vieoUnit
{
        width: 50%;
        text-align: center; font-size: 2rem;
}

.posterCard
{
        position: absolute;
        top: 0rem; left: 0rem;
        width: 100%;
}

.posterCard> img
{
        border-radius: 1rem;
}

.picture1, .picture2, .picture3
{
        position: relative;
        width: 140%;
        left: -2.5rem;
}

main article:first-of-type>figure:last-of-type
{
    margin-top: -4rem;
}

.selectCategoryDiv
{
        width: 100%;
        margin: 2rem 0rem 2rem -1.5rem;
        text-align: right;
}


.bddCatalogue-content
{
        padding: 2rem 0rem ;
}

.subscripton-choice form
        {
        width: 20rem;
        border: solid;
        border-style: thin;
        margin: 1rem 0rem 1rem 0rem;
        }

.subscripton-choice form article
        {
        width: 18rem;
        margin: 0rem 0rem 1rem 0rem;
        }
.subscripton-choice form article section
        {
        width: 8rem;
        font-size: 0.9rem;
        }
.subscripton-choice img
        {
        max-width: 7rem;
        background-color: rgb(30, 30, 30);        
        }

footer
{
        width: 100vw; margin: auto;
        padding: 2rem;
        align-content: center;
}
 
footer nav
{
        
        max-width: 85vw; /*
        display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content: space-between; align-items: center;
        gap: 2rem;*/
}

footer ul
{
       
        padding: 0rem;
        display: flex; flex-direction: row; flex-wrap: nowrap;
        justify-content: space-between; align-items: center; gap: 2rem;
}

.setUpAccess
{
        padding: 0rem;
        display: flex; flex-direction: row; flex-wrap: nowrap;
        justify-content: space-between; align-items: center; 
}

.setUpAccess button
{
        margin-right: -5.5px;
        
}

footer a 
        { 
        color: rgb(195, 205, 214);
        text-decoration: none;
        }

footer li :hover
        {
        text-decoration: underline;    
        }

/*        
footer div
{
        min-width: 30%;
        padding-left: 0rem;

        display: flex; flex-direction: row; flex-wrap: nowrap;
        justify-content: start; align-items: center;
        font-size: 1.25rem;
        color: rgb(195, 205, 214);
}
*/

footer span
{
        margin-right: 1.5rem;
        transition: 1s;
       
}
footer span:hover
{
        font-size: 1.4rem;

       
}

footer select
{
        margin: 0rem 2rem 0rem 1rem ;
        height: 2rem;
}


li      
        {
        list-style-type: none;
        }
