


header div
{
    display: flex; flex-direction: row; justify-content: start; align-items: center;
    gap: 1rem;
}
header nav
{
    width: 90vw;
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    gap: 2rem;
}
header nav div
{
   display: flex; flex-direction: row ; flex-wrap: wrap; 
   justify-content:space-between; align-items: center; gap: 2rem;
}
header ul
{
    width: 25vw;
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
}

header li :hover
        {
        text-decoration: underline;    
        }


/*
header li :active
        {
        color: darkgoldenrod;    
        }
*/
           

header input
        {
        background-color: rgba(60, 50, 50, 0.95);
        height: 1.6rem;
        border: solid;
        border-width: thin;
        border-radius: 0.5rem;
        text-align: center;
        color: rgb(238, 234, 227) ;
        }

header input::placeholder
        {
        color: rgb(188, 184, 178) ;
        }

header a
        {
        color: rgb(226, 236, 238) ;
        text-decoration: none;
        transition: 1s;
        }

header form 
{
    display: flex; flex-direction: row; flex-wrap: nowrap; 
    justify-content: start; align-items: center; gap: 2rem;
}

header form input , header form label 
{
    color: rgb(255, 254, 254);
    transition: 1s;
}

header form input:hover
{
    scale: 1.2;
}

header form label:hover 
{
    scale: 2;

}

header form div 
{
    width: 11vw;
   /*visibility: hidden;*/
}

header form img
        {
        vertical-align: text-bottom;
        }




main a 
        {
        color: rgb(100, 83, 56) ;
        text-decoration: none;
        }

main ol li:hover
        {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;    
        }
main ol li>:hover
        {
        font-size: initial;  
        }
main ol li>a:hover
        {
        font-size: x-large; 
        color: rgb(172, 26, 133);
        }

main input
        {
        border-radius: 0.25rem;
        height: 1.5rem;
        margin: 0rem 0rem 1rem 0rem
        }
main input:hover
        {
        background-color:rgba(139, 136, 84, 0.2) ;   
        }
main input:focus
        {
        border-style: outset;
        border-width: 0.2rem;
        background-color:rgba(219, 214, 114, 0.2) ;
        }

.visitMySite {margin: 0rem 0rem 0rem 0rem;}
.cvNnetworkLink {padding: 2rem 0rem 3rem 0rem; margin-bottom: 4rem; border-bottom: solid;}
.cvNnetworkLink2{margin: 0rem 2rem 0rem 2rem ;}
.titleVisit {font-size: 150%; color: rgb(122, 59, 59);}
.titleVisit ~ p {font-size: 140%;}
.backToTopButton {margin-top: 4rem; margin-left: 1rem; display: flex; flex-direction: column-reverse; align-items: center;}
.smallArrows {width: 3rem; vertical-align:bottom ;}


footer nav
{
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; align-items: center;
}

footer ul
{
    width: 50vw;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: space-between; align-items: center;
}

footer a 
        { 
        color: rgb(195, 205, 214);
        text-decoration: none;
        }

footer li :hover
        {
        text-decoration: underline;    
        }

footer div
{
    width: 35vw;
    display: flex; flex-direction: row; flex-wrap: nowrap;
    justify-content: start; align-items: center;
    font-size: 1.25rem;
    color: rgb(195, 205, 214);
}

footer select
{
    margin: 0rem 6rem 0rem 1rem ;
    height: 2rem;
}


li      
        {
        list-style-type: none;
        }


.classical-layout
{
    border: solid, rgba(30, 30, 30, 1);
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 0rem 1rem 0rem;
}

.classical-layout section article
{
    background-color: rgba(142, 185, 178, 0.53);
    border: solid ;
    border-width: thin ;
    border-radius: 1rem;
    margin: 0rem 0rem 1rem 0rem;
    width: 16rem;
    text-align: center;
}
.classical-layout section img
{
    width: 14rem;
    border-radius: 1rem;
    box-shadow: -0.5em -0.5em 0.3em ;
}
.classical-layout section article section
{
    padding-left: 0.5em;  
}



.subscripton-choice form
        {
        width: 20rem;
        border: solid;
        border-style: thin;
        margin: 1rem 0rem 1rem 0rem;
        }

.subscripton-choice form article
        {
        width: 18rem;
        margin: 0rem 0rem 1rem 0rem;
        }
.subscripton-choice form article section
        {
        width: 8rem;
        font-size: 0.9rem;
        }
.subscripton-choice img
        {
        max-width: 7rem;
        background-color: rgb(30, 30, 30);        
        }