


.picture
{
        width: 100%;
        position: relative;
        left: 0rem;
        
        
}

.picture41
{
        width: 70%;
        height: 50%;
        position: absolute;
        left: 2.5rem; top: 3.5rem;
        
        
}