

.cardsOnHover:hover
{
animation: cardsOnHover 2s ;
}


@keyframes cardsOnHover
{
from  {
      transform: translateY(0px);
      transform: translateX(0px);
      }

25%  {
      scale: 0.9;
      transform: translateY(2px);
      transform: translateX(0px);
     }

40%  {
      transform: translateY(1px);
      transform: translateX(2px);
     }

85%  {
      transform: translateY(-1px);
      transform: translateX(0px);
     }

to {
      transform-origin: bottom right;
      transform: translateY(-2px);
      transform: translateX(0px);
     }
}


.cardsOnBoot
{
animation: cardsOnBoot 0.5s ;
}


@keyframes cardsOnBoot
{
from  {
      scale: 1;
      }

50%  {
      scale: 1.1;
     }

to {
      scale: 1;
     }
}




/*
@keyframes cardsOnHover
{
from  {
     
   /*   transform: translateY(0px);
      transform: translateX(0px);
      transform: skewX(0);*/
    /*  transform: skewY(10);
      }

25%  {
      scale: 0.9;
    /*  opacity: 1;
      transform: translateY(2px);
      transform: translateX(0px);
      transform: skewX(0deg);
      transform: skewY(10deg);                         
     }

40%  {
      opacity: 1;
    /*  transform: translateY(1px);
      transform: translateX(2px);
      transform: skewX(0deg); */
   /*   transform: skewY(0eg);                         
     }

85%  {
      opacity: 0.95;
      transform-origin: bottom right;
   /*   transform: translateY(-1px);
      transform: translateX(-2px);
      transform: skewX(0deg); */
  /*    transform: skewY(0deg);                         
     }

to {
      opacity: 1;
      transform-origin: bottom right;
      transform: translateY(-2px);
      transform: translateX(0px);
      transform: skewX(0deg);
      transform: skewY(-10deg);                         
     }
}